{% extends 'index.html' %}

{% block titulo %}
    Home
{% endblock %}

{% block content %}

<div class="container bg-white white my-3 p-3 rounded text-center">

    <h1 class="">Sistema de Rotas</h1>
    
    <p class="fs-4">O presente sistema foi desenvolvido com o objetivo de facilitar a busca de rotas com o mínimo caminho possível para uma empresa de distribuição, situada em Goiás.</p>

    <a href="/rota/" class="btn btn-success btn-lg" role="button" aria-disabled="true">Iniciar</a>

</div>

{% endblock %}